<p id="notice"><%= notice %></p>
<h1 class="page-title"><%= @review.name %></h1>
<div class="review-body"><%= @review.body %></div>
<%= link_to 'Edit', edit_review_path(@review) %>|
<%= link_to 'Back', reviews_path %>
